### **Análise & União de Dados**
> Start: **03-12-24**

```Python
- CPSP :: 58500 Registros
- PALM :: 54686 Registros
- PRAT :: 115480 Registros
```

In [9]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import meteostat

plt.style.use('bmh')

In [10]:
csv_files = [f for f in os.listdir('data') if f.endswith('.csv')]
dfs = {}

for csv_file in csv_files:
    dfs[csv_file.split()[1]] = pd.read_csv(os.path.join('data', csv_file))

maxl, minl = list(), list()

for key in dfs.keys():
    dfs[key]['DateTime'] = pd.to_datetime(dfs[key]['DateTime'])
    print(key, dfs[key].shape)
    maxl.append(dfs[key]['DateTime'].max())
    minl.append(dfs[key]['DateTime'].min())

minl, maxl = min(minl), max(maxl)
minl, maxl

CPSP (58500, 8)
PALM (54686, 8)
PRAT (115480, 8)

(Timestamp('2024-01-01 00:00:00'), Timestamp('2024-10-09 05:00:00'))

In [20]:
df = dfs['PRAT'][['DateTime']].copy()

for key in dfs.keys():
    df = df.merge(dfs[key][['DateTime', 'Visibilidade_m']], on='DateTime', how='outer', suffixes=('', f'_{key}'))
    df = df.rename(columns={'Visibilidade_m': f'VM_{key}'})

In [23]:
df.to_excel(r'data\AllVisibil 01-10 (2024).xlsx', index=False, engine='openpyxl')
df.to_csv(r'data\AllVisibil_01-10_2024.csv', index=False)

In [24]:
df

                  DateTime  VM_CPSP  VM_PALM  VM_PRAT
0      2024-01-01 00:00:00  1998.93      NaN   2000.0
1      2024-01-01 00:00:30  1998.93      NaN      NaN
2      2024-01-01 00:01:00  1998.87      NaN   2000.0
3      2024-01-01 00:01:30  1998.93      NaN      NaN
4      2024-01-01 00:02:00  1998.90      NaN   2000.0
...                    ...      ...      ...      ...
159468 2024-10-09 04:56:00      NaN      NaN   2000.0
159469 2024-10-09 04:57:00      NaN      NaN   2000.0
159470 2024-10-09 04:58:00      NaN      NaN   2000.0
159471 2024-10-09 04:59:00      NaN      NaN   2000.0
159472 2024-10-09 05:00:00      NaN      NaN   2000.0

[159473 rows x 4 columns]