### **Análise & União de Dados**
> Start: **03-12-24**

```Python
- CPSP :: 58500 Registros
- PALM :: 54686 Registros
- PRAT :: 115480 Registros
```

In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import meteostat

plt.style.use('bmh')

In [5]:
csv_files = [f for f in os.listdir('data') if f.endswith('.csv')]
dfs = {}

for csv_file in csv_files:
    dfs[csv_file.split()[1]] = pd.read_csv(os.path.join('data', csv_file))

maxl, minl = list(), list()

for key in dfs.keys():
    dfs[key]['DateTime'] = pd.to_datetime(dfs[key]['DateTime'])
    print(key, dfs[key].shape)
    maxl.append(dfs[key]['DateTime'].max())
    minl.append(dfs[key]['DateTime'].min())

minl, maxl = min(minl), max(maxl)
minl, maxl

BRTP (58500, 8)
CPSP (58500, 8)
PALM (54686, 8)
PRAT (115480, 8)

(Timestamp('2024-01-01 00:00:00'), Timestamp('2024-10-09 05:00:00'))

In [7]:
df = dfs['PRAT'][['DateTime']].copy()

for key in dfs.keys():
    df = df.merge(dfs[key][['DateTime', 'Visibilidade_m']], on='DateTime', how='outer', suffixes=('', f'_{key}'))
    df = df.rename(columns={'Visibilidade_m': f'VM_{key}'})

In [8]:
df.to_excel(r'data\Read\AllVisibil 01-10 (2024).xlsx', index=False, engine='openpyxl')
df.to_csv(r'data\Read\AllVisibil_01-10_2024.csv', index=False)

In [9]:
df.iloc[15900:15960, :]

                 DateTime  VM_BRTP  VM_CPSP  VM_PALM  VM_PRAT
15900 2024-02-01 14:50:30  1998.11  1999.18      NaN      NaN
15901 2024-02-01 14:51:00  1998.08  1999.15      NaN   2000.0
15902 2024-02-01 14:51:30  1998.08  1999.18      NaN      NaN
15903 2024-02-01 14:52:00  1998.11  1999.21      NaN   2000.0
15904 2024-02-01 14:52:30  1998.11  1999.21      NaN      NaN
15905 2024-02-01 14:53:00  1998.11  1999.15      NaN   2000.0
15906 2024-02-01 14:53:30  1998.11  1999.15      NaN      NaN
15907 2024-02-01 14:54:00  1998.14  1999.15      NaN   2000.0
15908 2024-02-01 14:54:30  1998.11  1999.11      NaN      NaN
15909 2024-02-01 14:55:00  1998.14  1999.11      NaN   2000.0
15910 2024-02-01 14:55:30  1998.14  1999.15      NaN      NaN
15911 2024-02-01 14:56:00  1998.17  1999.15      NaN   2000.0
15912 2024-02-01 14:56:30  1998.17  1999.15      NaN      NaN
15913 2024-02-01 14:57:00  1998.17  1999.11      NaN   2000.0
15914 2024-02-01 14:57:30  1998.17  1999.18      NaN      NaN
15915 2024-02-01 14:58:00  1998.17  1999.11      NaN   2000.0
15916 2024-02-01 14:58:30  1998.17  1999.11      NaN      NaN
15917 2024-02-01 14:59:00  1998.11  1999.18      NaN   2000.0
15918 2024-02-01 14:59:30  1998.14  1999.18      NaN      NaN
15919 2024-02-01 15:00:00  1998.17  1999.18      NaN   2000.0
15920 2024-02-01 15:00:30  1998.14  1999.18      NaN      NaN
15921 2024-02-01 15:01:00  1998.14  1999.15      NaN   2000.0
15922 2024-02-01 15:01:30  1998.14  1999.15      NaN      NaN
15923 2024-02-01 15:02:00  1998.17  1999.11      NaN   2000.0
15924 2024-02-01 15:02:30  1998.14  1999.15      NaN      NaN
15925 2024-02-01 15:03:00  1998.14  1999.11      NaN   2000.0
15926 2024-02-01 15:03:30  1998.11  1999.15      NaN      NaN
15927 2024-02-01 15:04:00  1998.08  1999.11      NaN   2000.0
15928 2024-02-01 15:04:30  1998.11  1999.18      NaN      NaN
15929 2024-02-01 15:05:00  1998.14  1999.18      NaN   2000.0
15930 2024-02-01 15:05:30  1998.14  1999.21      NaN      NaN
15931 2024-02-01 15:06:00  1998.17  1999.21      NaN   2000.0
15932 2024-02-01 15:06:30  1998.17  1999.21      NaN      NaN
15933 2024-02-01 15:07:00  1998.17  1999.21      NaN   2000.0
15934 2024-02-01 15:07:30  1998.14  1999.24      NaN      NaN
15935 2024-02-01 15:08:00  1998.11  1999.18      NaN   2000.0
15936 2024-02-01 15:08:30  1998.08  1999.18      NaN      NaN
15937 2024-02-01 15:09:00  1998.11  1999.18      NaN   2000.0
15938 2024-02-01 15:09:30  1998.08  1999.21      NaN      NaN
15939 2024-02-01 15:10:00  1998.11  1999.15      NaN   2000.0
15940 2024-02-01 15:10:30  1998.14  1999.21      NaN      NaN
15941 2024-02-01 15:11:00  1998.11  1999.21      NaN   2000.0
15942 2024-02-01 15:11:30  1998.14  1999.24      NaN      NaN
15943 2024-02-01 15:12:00  1998.11  1999.18      NaN   2000.0
15944 2024-02-01 15:12:30  1998.11  1999.21      NaN      NaN
15945 2024-02-01 15:13:00  1998.14  1999.27      NaN   2000.0
15946 2024-02-01 15:13:30  1998.14  1999.21      NaN      NaN
15947 2024-02-01 15:14:00  1998.17  1999.18      NaN   2000.0
15948 2024-02-01 15:15:00  1998.17  1999.18      NaN   2000.0
15949 2024-02-01 15:15:30  1998.17  1999.18      NaN      NaN
15950 2024-02-01 15:16:00  1998.14  1999.21      NaN   2000.0
15951 2024-02-01 15:16:30  1998.14  1999.21      NaN      NaN
15952 2024-02-01 15:17:00  1998.14  1999.18      NaN   2000.0
15953 2024-02-01 15:17:30  1998.11  1999.21      NaN      NaN
15954 2024-02-01 15:18:00  1998.14  1999.24      NaN   2000.0
15955 2024-02-01 15:18:30  1998.14  1999.21      NaN      NaN
15956 2024-02-01 15:19:00  1998.17  1999.27      NaN   2000.0
15957 2024-02-01 15:19:30  1998.11  1999.24      NaN      NaN
15958 2024-02-01 15:20:00  1998.14  1999.21      NaN   2000.0
15959 2024-02-01 15:20:30  1998.11  1999.24      NaN      NaN

In [15]:
for i in ['VM_BRTP', 'VM_CPSP', 'VM_PALM', 'VM_PRAT']:
    display(df[['DateTime', i]].dropna(subset=[i], how='any').describe().T)

,count,mean,min,25%,50%,75%,max,std
DateTime,58500,2024-05-16 23:27:21.959487232,2024-01-01 00:00:00,2024-03-01 22:15:22.500000,2024-05-03 01:36:15,2024-08-01 23:30:07.500000,2024-10-03 00:22:30,NaN
VM_BRTP,58500.0,1998.14776,1997.8,1998.08,1998.14,1998.2,1999.02,0.123013

,count,mean,min,25%,50%,75%,max,std
DateTime,58489,2024-05-17 00:02:11.474978304,2024-01-01 00:00:00,2024-03-01 22:14:00,2024-05-03 01:34:30,2024-08-01 23:26:00,2024-10-03 10:20:30,NaN
VM_CPSP,58489.0,1998.69866,1997.77,1998.32,1998.63,1998.96,2000.0,0.493662

,count,mean,min,25%,50%,75%,max,std
DateTime,54686,2024-08-06 20:00:44.483780096,2024-06-13 00:00:00,2024-07-02 15:57:15,2024-08-04 13:08:30,2024-09-06 08:31:45,2024-10-08 22:54:00,NaN
VM_PALM,54686.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,0.0

,count,mean,min,25%,50%,75%,max,std
DateTime,118292,2024-05-20 23:56:02.725290240,2024-01-01 00:00:00,2024-03-05 10:33:45,2024-06-01 22:49:30,2024-08-04 14:09:15,2024-10-09 05:00:00,NaN
VM_PRAT,118292.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,0.0