#### **Tratamento de Dados `Visibilímetro`**

> Port of Santos Center of Excellence
- NebulaPredictor

In [3]:
from tqdm import tqdm
import pandas as pd
import PyPDF2
import os

In [12]:
pdf_files = [f for f in os.listdir('raw') if f.endswith('.pdf')]

cpsp_files = [f for f in pdf_files if 'CPSP' in f]
palmas_files = [f for f in pdf_files if 'PALMAS' in f]
brasiltp_files = [f for f in pdf_files if 'BTP' in f]
praticagem_files = [f for f in pdf_files if 'PRATICAGEM' in f]

In [13]:
def process_pdf_files(files):
    all_data = []
    for pdf_file in files:
        with open(os.path.join('raw', pdf_file), 'rb') as file:
            pdf_reader = PyPDF2.PdfReader(file)
            content = ""
            for page in tqdm(pdf_reader.pages, desc=f"R :: {pdf_file}"): content += page.extract_text()
        
        rows = content.strip().split('\n')[1:]

        for row in tqdm(rows, desc=f"P :: {pdf_file}"):
            date_time, visibility = row.rsplit(' ', 1)
            date_time = date_time.strip()
            if len(date_time) > 19: date_time=date_time[:19]
            try: visibility_value = float(visibility)
            except ValueError: visibility_value = float('nan')
            all_data.append([date_time, visibility_value])
            
    return all_data

In [14]:
def create_df(data):
    df = pd.DataFrame(data, columns=['DateTime', 'Visibilidade_m'])
    df['DateTime'] = pd.to_datetime(df['DateTime'], format='mixed', dayfirst=True)
    
    df['Ano'] = df['DateTime'].dt.year
    df['Mes'] = df['DateTime'].dt.month 
    df['Dia'] = df['DateTime'].dt.day
    df['Hora'] = df['DateTime'].dt.hour
    df['Minuto'] = df['DateTime'].dt.minute
    df['Segundo'] = df['DateTime'].dt.second
    
    return df[['DateTime', 'Ano', 'Mes', 'Dia', 'Hora', 'Minuto', 'Segundo', 'Visibilidade_m']]

---

In [15]:
def process_pdf_files(files):
    all_data = []
    for pdf_file in files:
        with open(os.path.join('raw', pdf_file), 'rb') as file:
            pdf_reader = PyPDF2.PdfReader(file)
            content = ""
            for page in tqdm(pdf_reader.pages, desc=f"Reading {pdf_file}"): 
                content += page.extract_text()
        
        rows = content.strip().split('\n')[1:]

        for row in tqdm(rows, desc=f"Processing {pdf_file}"):
            try: # Validar se a linha tem pelo menos um espaço
                if ' ' not in row: continue
                    
                date_time, visibility = row.rsplit(' ', 1)
                date_time = date_time.strip()
                
                # Validar formato da data (deve ter pelo menos 10 caracteres: DD/MM/YYYY)
                if len(date_time) < 10 or date_time.lower() == 'm': continue
                    
                if len(date_time) > 19: date_time=date_time[:19]
                
                try: visibility_value=float(visibility)
                except ValueError: visibility_value=float('nan')
                    
                all_data.append([date_time, visibility_value])
            
            except Exception: continue
    return all_data

In [16]:
def create_df(data):
    if not data: return pd.DataFrame(columns=['DateTime', 'Ano', 'Mes', 'Dia', 'Hora', 'Minuto', 'Segundo', 'Visibilidade_m'])
        
    df = pd.DataFrame(data, columns=['DateTime', 'Visibilidade_m'])
    df['DateTime'] = pd.to_datetime(df['DateTime'], format='mixed', dayfirst=True, errors='coerce')
    df = df.dropna(subset=['DateTime'])
    
    df['Ano'] = df['DateTime'].dt.year
    df['Mes'] = df['DateTime'].dt.month 
    df['Dia'] = df['DateTime'].dt.day
    df['Hora'] = df['DateTime'].dt.hour
    df['Minuto'] = df['DateTime'].dt.minute
    df['Segundo'] = df['DateTime'].dt.second
    
    return df[['DateTime', 'Ano', 'Mes', 'Dia', 'Hora', 'Minuto', 'Segundo', 'Visibilidade_m']]

In [82]:
df_cpsp = create_df(process_pdf_files(cpsp_files))

Reading VISIBIL_CPSP_012024.pdf: 100%|██████████| 100/100 [00:46<00:00,  2.17it/s]
Processing VISIBIL_CPSP_012024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 91628.71it/s]
Reading VISIBIL_CPSP_022024.pdf: 100%|██████████| 100/100 [00:15<00:00,  6.45it/s]
Processing VISIBIL_CPSP_022024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 17633.17it/s]
Reading VISIBIL_CPSP_032024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.79it/s]
Processing VISIBIL_CPSP_032024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 120259.82it/s]
Reading VISIBIL_CPSP_042024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.79it/s]
Processing VISIBIL_CPSP_042024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 147852.99it/s]
Reading VISIBIL_CPSP_052024.pdf: 100%|██████████| 100/100 [00:12<00:00,  7.91it/s]
Processing VISIBIL_CPSP_052024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 116790.15it/s]
Reading VISIBIL_CPSP_062024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.12it/s]
Processing VISIBIL_CPSP_062024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 107177.09it/s]
Reading VISIBIL_CPSP_072024.pdf: 100%|██████████| 100/100 [00:09<00:00, 10.16it/s]
Processing VISIBIL_CPSP_072024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 105769.63it/s]
Reading VISIBIL_CPSP_082024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.19it/s]
Processing VISIBIL_CPSP_082024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 108316.04it/s]
Reading VISIBIL_CPSP_092024.pdf: 100%|██████████| 100/100 [00:09<00:00, 10.50it/s]
Processing VISIBIL_CPSP_092024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 132965.15it/s]
Reading VISIBIL_CPSP_102024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.70it/s]
Processing VISIBIL_CPSP_102024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 140389.75it/s]

In [83]:
df_palmas = create_df(process_pdf_files(palmas_files))

Reading VISIBIL_PALMAS_062024.pdf: 100%|██████████| 100/100 [00:23<00:00,  4.24it/s]
Processing VISIBIL_PALMAS_062024.pdf: 100%|██████████| 11298/11298 [00:00<00:00, 138363.79it/s]
Reading VISIBIL_PALMAS_072024.pdf: 100%|██████████| 100/100 [00:26<00:00,  3.81it/s]
Processing VISIBIL_PALMAS_072024.pdf: 100%|██████████| 10998/10998 [00:00<00:00, 244856.23it/s]
Reading VISIBIL_PALMAS_082024.pdf: 100%|██████████| 100/100 [00:23<00:00,  4.32it/s]
Processing VISIBIL_PALMAS_082024.pdf: 100%|██████████| 11097/11097 [00:00<00:00, 98658.65it/s]
Reading VISIBIL_PALMAS_092024.pdf: 100%|██████████| 100/100 [00:20<00:00,  4.76it/s]
Processing VISIBIL_PALMAS_092024.pdf: 100%|██████████| 9996/9996 [00:00<00:00, 108590.54it/s]
Reading VISIBIL_PALMAS_102024.pdf: 100%|██████████| 100/100 [00:33<00:00,  2.99it/s]
Processing VISIBIL_PALMAS_102024.pdf: 100%|██████████| 11299/11299 [00:00<00:00, 118991.16it/s]

In [18]:
df_brasiltp = create_df(process_pdf_files(brasiltp_files))

Reading VISIBIL_BTP_012024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.95it/s]
Processing VISIBIL_BTP_012024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 91624.70it/s]
Reading VISIBIL_BTP_022024.pdf: 100%|██████████| 100/100 [00:21<00:00,  4.69it/s]
Processing VISIBIL_BTP_022024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 545825.36it/s]
Reading VISIBIL_BTP_032024.pdf: 100%|██████████| 100/100 [00:08<00:00, 11.34it/s]
Processing VISIBIL_BTP_032024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 563936.71it/s]
Reading VISIBIL_BTP_042024.pdf: 100%|██████████| 100/100 [00:06<00:00, 14.56it/s]
Processing VISIBIL_BTP_042024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 195645.86it/s]
Reading VISIBIL_BTP_052024.pdf: 100%|██████████| 100/100 [00:11<00:00,  8.56it/s]
Processing VISIBIL_BTP_052024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 386530.23it/s]
Reading VISIBIL_BTP_062024.pdf: 100%|██████████| 100/100 [00:10<00:00,  9.98it/s]
Processing VISIBIL_BTP_062024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 238823.85it/s]
Reading VISIBIL_BTP_072024.pdf: 100%|██████████| 100/100 [00:06<00:00, 14.80it/s]
Processing VISIBIL_BTP_072024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 216614.56it/s]
Reading VISIBIL_BTP_082024.pdf: 100%|██████████| 100/100 [00:06<00:00, 15.26it/s]
Processing VISIBIL_BTP_082024.pdf: 100%|██████████| 6000/6000 [00:00<00:00, 282466.91it/s]
Reading VISIBIL_BTP_092024.pdf: 100%|██████████| 100/100 [00:18<00:00,  5.41it/s]
Processing VISIBIL_BTP_092024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 93636.06it/s]
Reading VISIBIL_BTP_102024.pdf: 100%|██████████| 100/100 [00:11<00:00,  8.57it/s]
Processing VISIBIL_BTP_102024.pdf: 100%|██████████| 5700/5700 [00:00<00:00, 405728.18it/s]

In [84]:
df_praticagem = create_df(process_pdf_files(praticagem_files))

Reading VISIBIL_PRATICAGEM_012024.pdf: 100%|██████████| 100/100 [00:21<00:00,  4.73it/s]
Processing VISIBIL_PRATICAGEM_012024.pdf: 100%|██████████| 11099/11099 [00:00<00:00, 277647.38it/s]
Reading VISIBIL_PRATICAGEM_022024.pdf: 100%|██████████| 100/100 [00:23<00:00,  4.27it/s]
Processing VISIBIL_PRATICAGEM_022024.pdf: 100%|██████████| 12198/12198 [00:00<00:00, 358974.48it/s]
Reading VISIBIL_PRATICAGEM_032024.pdf: 100%|██████████| 100/100 [00:22<00:00,  4.45it/s]
Processing VISIBIL_PRATICAGEM_032024.pdf: 100%|██████████| 11699/11699 [00:00<00:00, 292761.46it/s]
Reading VISIBIL_PRATICAGEM_042024.pdf: 100%|██████████| 100/100 [00:23<00:00,  4.19it/s]
Processing VISIBIL_PRATICAGEM_042024.pdf: 100%|██████████| 11899/11899 [00:00<00:00, 360813.06it/s]
Reading VISIBIL_PRATICAGEM_052024.pdf: 100%|██████████| 100/100 [00:16<00:00,  5.89it/s]
Processing VISIBIL_PRATICAGEM_052024.pdf: 100%|██████████| 10899/10899 [00:00<00:00, 340694.59it/s]
Reading VISIBIL_PRATICAGEM_062024.pdf: 100%|██████████| 100/100 [00:19<00:00,  5.10it/s]
Processing VISIBIL_PRATICAGEM_062024.pdf: 100%|██████████| 11699/11699 [00:00<00:00, 325168.07it/s]
Reading VISIBIL_PRATICAGEM_072024.pdf: 100%|██████████| 100/100 [00:19<00:00,  5.13it/s]
Processing VISIBIL_PRATICAGEM_072024.pdf: 100%|██████████| 11299/11299 [00:00<00:00, 289965.86it/s]
Reading VISIBIL_PRATICAGEM_082024.pdf: 100%|██████████| 100/100 [00:21<00:00,  4.65it/s]
Processing VISIBIL_PRATICAGEM_082024.pdf: 100%|██████████| 11698/11698 [00:00<00:00, 354689.94it/s]
Reading VISIBIL_PRATICAGEM_092024.pdf: 100%|██████████| 100/100 [00:21<00:00,  4.60it/s]
Processing VISIBIL_PRATICAGEM_092024.pdf: 100%|██████████| 11299/11299 [00:00<00:00, 251242.87it/s]
Reading VISIBIL_PRATICAGEM_102024.pdf: 100%|██████████| 100/100 [00:23<00:00,  4.21it/s]
Processing VISIBIL_PRATICAGEM_102024.pdf: 100%|██████████| 11699/11699 [00:00<00:00, 244048.69it/s]

In [19]:
df_cpsp.to_csv(r'data\Visibil CPSP 01-10 (2024).csv', index=False, encoding='UTF-8')
df_cpsp.to_excel(r'data\Visibil CPSP 01-10 (2024).xlsx', index=False, engine='openpyxl')

df_palmas.to_csv(r'data\Visibil PALM 06-10 (2024).csv', index=False, encoding='UTF-8')
df_palmas.to_excel(r'data\Visibil PALM 06-10 (2024).xlsx', index=False, engine='openpyxl')

df_praticagem.to_csv(r'data\Visibil PRAT 01-10 (2024).csv', index=False, encoding='UTF-8')
df_praticagem.to_excel(r'data\Visibil PRAT 01-10 (2024).xlsx', index=False, engine='openpyxl')

df_brasiltp.to_csv(r'data\Visibil BRTP 01-10 (2024).csv', index=False, encoding='UTF-8')
df_brasiltp.to_excel(r'data\Visibil BRTP 01-10 (2024).xlsx', index=False, engine='openpyxl')

In [53]:
df_brasiltp.describe()

,DateTime,Ano,Mes,Dia,Hora,Minuto,Segundo,Visibilidade_m
count,58500,58500.0,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000
mean,2024-05-16 23:27:21.959487232,2024.0,5.471795,1.548444,11.152855,29.415453,15.001538,1998.147760
min,2024-01-01 00:00:00,2024.0,1.000000,1.000000,0.000000,0.000000,0.000000,1997.800000
25%,2024-03-01 22:15:22.500000,2024.0,3.000000,1.000000,5.000000,14.000000,0.000000,1998.080000
50%,2024-05-03 01:36:15,2024.0,5.000000,2.000000,11.000000,29.000000,30.000000,1998.140000
75%,2024-08-01 23:30:07.500000,2024.0,8.000000,2.000000,17.000000,44.000000,30.000000,1998.200000
max,2024-10-03 00:22:30,2024.0,10.000000,3.000000,23.000000,59.000000,30.000000,1999.020000
std,NaN,0.0,2.870381,0.559059,7.064304,17.301114,15.000128,0.123013

In [52]:
df_brasiltp.iloc[55500:55560, :]

,DateTime,Ano,Mes,Dia,Hora,Minuto,Segundo,Visibilidade_m
55500,2024-10-01 22:53:30,2024,10,1,22,53,30,1998.14
55501,2024-10-01 22:54:00,2024,10,1,22,54,0,1998.11
55502,2024-10-01 22:54:30,2024,10,1,22,54,30,1998.11
55503,2024-10-01 22:55:00,2024,10,1,22,55,0,1998.05
55504,2024-10-01 22:55:30,2024,10,1,22,55,30,1998.08
55505,2024-10-01 22:56:00,2024,10,1,22,56,0,1998.11
55506,2024-10-01 22:56:30,2024,10,1,22,56,30,1998.08
55507,2024-10-01 22:57:00,2024,10,1,22,57,0,1998.08
55508,2024-10-01 22:57:30,2024,10,1,22,57,30,1998.14
55509,2024-10-01 22:58:00,2024,10,1,22,58,0,1998.11
55510,2024-10-01 22:58:30,2024,10,1,22,58,30,1998.14
55511,2024-10-01 22:59:00,2024,10,1,22,59,0,1998.17
55512,2024-10-01 22:59:30,2024,10,1,22,59,30,1998.14
55513,2024-10-01 23:00:00,2024,10,1,23,0,0,1998.17
55514,2024-10-01 23:00:30,2024,10,1,23,0,30,1998.17
55515,2024-10-01 23:01:00,2024,10,1,23,1,0,1998.17
55516,2024-10-01 23:01:30,2024,10,1,23,1,30,1998.17
55517,2024-10-01 23:02:00,2024,10,1,23,2,0,1998.14
55518,2024-10-01 23:02:30,2024,10,1,23,2,30,1998.14
55519,2024-10-01 23:03:00,2024,10,1,23,3,0,1998.14
55520,2024-10-01 23:03:30,2024,10,1,23,3,30,1998.20
55521,2024-10-01 23:04:00,2024,10,1,23,4,0,1998.17
55522,2024-10-01 23:04:30,2024,10,1,23,4,30,1998.23
55523,2024-10-01 23:05:00,2024,10,1,23,5,0,1998.20
55524,2024-10-01 23:05:30,2024,10,1,23,5,30,1998.17
55525,2024-10-01 23:06:00,2024,10,1,23,6,0,1998.17
55526,2024-10-01 23:06:30,2024,10,1,23,6,30,1998.11
55527,2024-10-01 23:07:00,2024,10,1,23,7,0,1998.14
55528,2024-10-01 23:07:30,2024,10,1,23,7,30,1998.17
55529,2024-10-01 23:08:00,2024,10,1,23,8,0,1998.17
55530,2024-10-01 23:08:30,2024,10,1,23,8,30,1998.17
55531,2024-10-01 23:09:00,2024,10,1,23,9,0,1998.17
55532,2024-10-01 23:09:30,2024,10,1,23,9,30,1998.14
55533,2024-10-01 23:10:00,2024,10,1,23,10,0,1998.17
55534,2024-10-01 23:10:30,2024,10,1,23,10,30,1998.14
55535,2024-10-01 23:11:00,2024,10,1,23,11,0,1998.14
55536,2024-10-01 23:12:00,2024,10,1,23,12,0,1998.11
55537,2024-10-01 23:12:30,2024,10,1,23,12,30,1998.11
55538,2024-10-01 23:13:00,2024,10,1,23,13,0,1998.11
55539,2024-10-01 23:13:30,2024,10,1,23,13,30,1998.14
55540,2024-10-01 23:14:00,2024,10,1,23,14,0,1998.14
55541,2024-10-01 23:14:30,2024,10,1,23,14,30,1998.14
55542,2024-10-01 23:15:00,2024,10,1,23,15,0,1998.14
55543,2024-10-01 23:15:30,2024,10,1,23,15,30,1998.14
55544,2024-10-01 23:16:00,2024,10,1,23,16,0,1998.17
55545,2024-10-01 23:16:30,2024,10,1,23,16,30,1998.17
55546,2024-10-01 23:17:00,2024,10,1,23,17,0,1998.14
55547,2024-10-01 23:17:30,2024,10,1,23,17,30,1998.14
55548,2024-10-01 23:18:00,2024,10,1,23,18,0,1998.14
55549,2024-10-01 23:18:30,2024,10,1,23,18,30,1998.14
55550,2024-10-01 23:19:00,2024,10,1,23,19,0,1998.14
55551,2024-10-01 23:19:30,2024,10,1,23,19,30,1998.14
55552,2024-10-01 23:20:00,2024,10,1,23,20,0,1998.14
55553,2024-10-01 23:20:30,2024,10,1,23,20,30,1998.20
55554,2024-10-01 23:21:00,2024,10,1,23,21,0,1998.17
55555,2024-10-01 23:21:30,2024,10,1,23,21,30,1998.17
55556,2024-10-01 23:22:00,2024,10,1,23,22,0,1998.17
55557,2024-10-01 23:22:30,2024,10,1,23,22,30,1998.17
55558,2024-10-01 23:23:00,2024,10,1,23,23,0,1998.11
55559,2024-10-01 23:23:30,2024,10,1,23,23,30,1998.14